@import "tailwindcss";

body {
  background-color: #fff;
  color: #000;
}

.font-geist {
  font-family: var(--font-geist), sans-serif;
}

.font-anton {
  font-family: var(--font-anton), sans-serif;
}

.small-caps {
  font-variant: small-caps;
}